"*":
  "atom-beautify":
    json:
      brace_style: "expand"
  "atom-ide-ui":
    "atom-ide-diagnostics-ui":
      showDiagnosticTraces: true
      showDirectoryColumn: true
    use: {}
  autosave:
    enabled: true
  core:
    closeDeletedFileTabs: true
    disabledPackages: [
      "linter"
      "linter-eslint"
      "linter-js-standard"
      "linter-ui-default"
      "atom-furby"
      "ide-haskell-hie"
    ]
    telemetryConsent: "no"
    titleBar: "custom"
    useTreeSitterParsers: true
  editor:
    fontFamily: "SF Mono, Menlo, Consolas, DejaVu Sans Mono, monospace"
    fontSize: 15
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "bac65447-0c1f-4116-b740-d128f12e4c81"
  "fuzzy-finder":
    ignoredNames: [
      "vendor"
    ]
  "ide-haskell-hie":
    isDebug: true
    useHieWrapper: true
  "linter-eslint": {}
  "linter-ui-default":
    panelHeight: 300
  "tree-view":
    alwaysOpenExisting: true
  "vim-mode-plus":
    keymapYToYankToLastCharacterOfLine: true
  welcome:
    showOnStartup: false
